[user]
	email = brianesparzadlt4@gmail.com
	name = brian de la torre
[alias]
	alias = config --get-regexp ^alias\\.
	br = branch
	co = checkout
	st = status
	lo = log --oneline
	lop = log --oneline --pretty
	ci = commit
	cob = checkout -b
	d = diff
	tree = log --all --graph --decorate --oneline
	cm = commit -m
	cam = commit -am
	pl = pull origin
	ps = push origin
